@import "tailwindcss";

:root {
  --config-font: 'Geist Mono', 'Fira Code Retina', 'Input Mono';
  --config-size: 14px;
}

* {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  padding: 0;
  margin: 0;
}

html {
  filter: saturate(0);
  background: white;
}

html,
.CodeMirror {
  font-family: var(--config-font), monospace;
  font-size: var(--config-size);
}

#editor {
  height: 100%;
}

/* CodeMirror Overrides */
.CodeMirror {
  width: 100% !important;
  height: 100% !important;
  background: transparent !important;
  line-height: 1.6 !important;
  padding: 2rem;
}

.CodeMirror-scroll {
  overflow: auto !important;
}

.CodeMirror-gutters {
  display: none !important;
}

/* Hide scrollbars but allow scrolling */
.CodeMirror-vscrollbar,
.CodeMirror-hscrollbar {
  display: none !important;
}

.CodeMirror-sizer {
  min-width: 100% !important;
}

/* Focus state */
.CodeMirror:focus-within {
  outline: none;
}

/* Dark Mode */
html.dark {
  background: black;
}

.dark #editor>.CodeMirror {
  filter: invert(1);
}